#################
## IDE
#################

.project
.classpath
.loadpath
.settings
.gradle
.groovy
.idea
.metadata
*.iml
*.tmp
*.bak
*.class
*.log

# exclude the following folder in the top project and all submodules
.settings/
bin/
tmp/
build/

# External tool builders (in top folder and all submodules)
target/

################
## Intermediate
################
MANIFEST.MF

############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

############
## Mac
############

# Folder config file
.DS_Store
*.iml
/target/
=======
# Compiled class file
*.class

# Log file
*.log

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
