<form role="form" name="configure-spider">

    <script cam-script type="text/form-script">
        inject(['$http', 'Uri', function($http, Uri){
            camForm.on('form-loaded', function () {
                camForm.variableManager.fetchVariable('PROCESS_TARGETS');
                $scope.targetFiles = [];
                $scope.handleFileSelect = function(evt){

                    console.log("handleFileSelect: " + evt);
                    var file = evt.target.files[0];
                    var inputId = evt.target.id;
                    var splitInputName = inputId.split("-");
                    var index = splitInputName[1];

                    if (file != null){

                        var filename = "ZAP_SPIDER_API_SPEC_FILE_" + index;


                        //Get the process instance of the engine
                        $http.get(Uri.appUri('engine://engine/:engine/task/' + camForm.taskId)).success(function(result){

                            var variablePath = "process-instance/" + result.processInstanceId + "/variables/" + filename + "/data";

                            //Set the Url attribute for the file in the corresponding target
                            $scope.targetList[index]["attributes"]["ZAP_SPIDER_API_SPEC_URL"] = variablePath;
                            $scope.targetList[index]["attributes"]["ZAP_SPIDER_API_SPEC_FILE"] = file;
                        });
                    }
                }

                $scope.handleRemoveApiSpecFile = function(index){

                    console.log("Remove File from Target" + index + ": " + $scope.targetList[index]);

                    delete $scope.targetList[index]["attributes"]["ZAP_SPIDER_API_SPEC_URL"];
                    delete $scope.targetList[index]["attributes"]["ZAP_SPIDER_API_SPEC_FILE"];

                    document.getElementById('inputSpiderApiSpecFile-' + index).value = "";
                }
            });

            camForm.on('variables-fetched', function () {
                $scope.targetList = JSON.parse(camForm.variableManager.variableValue('PROCESS_TARGETS'));
            });

            camForm.on('submit', function () {

                console.log("Submit!");

                for (var index in $scope.targetList){

                    var target = $scope.targetList[index];

                    console.log(target);
                    var variablePath = target["attributes"]["ZAP_SPIDER_API_SPEC_URL"];

                    if(variablePath != null){
                        var file = target["attributes"]["ZAP_SPIDER_API_SPEC_FILE"]
                        delete $scope.targetList[index]["attributes"]["ZAP_SPIDER_API_SPEC_FILE"];

                        var formdata = new FormData();
                        formdata.append('data', file);

                        //Create a new variable in the engine with the uploaded file
                        $http.post(Uri.appUri('engine://engine/:engine/' + variablePath), formdata, {
                            transformRequest: angular.identity,
                            headers: {'Content-Type': undefined }
                        });
                    }
                }
                camForm.variableManager.destroyVariable('PROCESS_TARGETS');
                camForm.variableManager.createVariable({
                    name: 'PROCESS_TARGETS',
                    type: 'Object',
                    value: JSON.stringify($scope.targetList),
                    valueInfo: {
                        serializationDataFormat: 'application/json',
                        objectTypeName: 'java.lang.String'
                    }
                });
            });
        }]);


    </script>

    <div class="controls form-group" ng-repeat="target in targetList track by $index">
        <div ng-if="target.attributes.ZAP_SPIDER_CONFIGURATION_TYPE == 'advanced'">
            <h2>Please configure the ZAP Spider details for "{{ target.name }}"</h2>

            <div class="row">

                <div class="col-xs-12">
                    <h3>ZAP Spider advanced configuration</h3>

                    <div class="well">Target: <a href="{{ target.location }}">{{ target.location }}</a> </div>

                    <!-- API specification file -->
                    <div class="form-group row">
                        <div class="col-xs-8">
                            <label for="inputSpiderApiSpecFile-{{$index}}">OpenAPI Specification File (optional)</label>
                            <div class="controls">
                                <input class="form-control"
                                       id="inputSpiderApiSpecFile-{{$index}}"
                                       type="file"
                                       name="spiderApiSpecFile"
                                       onchange="angular.element(this).scope().handleFileSelect(event)"/>
                            </div>
                        </div>
                        <div class="col-xs-1">
                            <button id="removeApiFile-{{$index}}"
                                    class="btn btn-danger btn-lg"
                                    ng-click="handleRemoveApiSpecFile($index)"
                                    ng-disabled="target.attributes.ZAP_SPIDER_API_SPEC_URL == null"
                                    style="position: absolute; right: 15px; top: 0;">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </div>
                    </div>

                    <!-- Spider max depth -->
                    <div class="form-group">
                        <label for="inputSpiderMaxDepth">Maximum Sitemap Depth</label>
                        <div class="controls">
                            <input required class="form-control"
                                   id="inputSpiderMaxDepth"
                                   ng-model="target.attributes.ZAP_SPIDER_MAX_DEPTH"
                                   type="number"
                                   min="1"
                                   max="10"
                                   name="spiderMaxDepth"/>
                        </div>
                    </div>

                    <!-- OWASP Spider Configuration -->
                    <div class="form-group">

                        <!-- includeRegexes -->
                        <div class="form-group">
                            <label for="inputSpiderIncludeRegexes">Include RegExe's</label>
                            <div class="controls">
                                    <textarea class="form-control"
                                              id="inputSpiderIncludeRegexes"
                                              ng-model="target.attributes.ZAP_SPIDER_INCLUDE_REGEX"
                                              rows="5"
                                              name="spiderIncludeRegexes"></textarea>
                            </div>
                        </div>

                        <!-- excludeRegexes -->
                        <div class="form-group">
                            <label for="inputSpiderExcludeRegexes">Exclude RegExe's</label>
                            <div class="controls">
                                    <textarea class="form-control"
                                              id="inputSpiderExcludeRegexes"
                                              ng-model="target.attributes.ZAP_SPIDER_EXCLUDE_REGEX"
                                              ng-required="false"
                                              rows="5"
                                              name="spiderExcludeRegexes"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>