<h2>Please configure the Application Security Scan</h2>

<form role="form" name="configure-target">

	<script cam-script type="text/form-script">
        camForm.on('form-loaded', function () {
            camForm.variableManager.fetchVariable('PROCESS_TARGETS');
        });
        camForm.on('variables-fetched', function () {
            $scope.targets = camForm.variableManager.variableValue('PROCESS_TARGETS');
            console.log("targets: "+$scope.targets);

            if($scope.targets === undefined || angular.equals([], $scope.targets)) {
                $scope.targetList = [];
                $scope.targetList.push({'name':'BodgeIT Public Host', 'location': 'http://bodgeit:8080/bodgeit',
                'attributes': {'ZAP_BASE_URL':'http://bodgeit:8080/bodgeit', 'ZAP_AUTHENTICATION':false, 'PROCESS_MARK_FALSE_POSITIVE':false}});
            }
            $scope.addTarget = function () {
                $scope.targetList.push({'name':'', 'location': ''});
            };

            $scope.checkForEnter = function ($event) {
                if ($event.key === 'Enter') {
                    $scope.addTarget();
                    $event.stopPropagation();
                    $event.preventDefault();
                }
            };
        });

        camForm.on('submit', function () {
            camForm.variableManager.destroyVariable('PROCESS_TARGETS');
            camForm.variableManager.createVariable({
                name: 'PROCESS_TARGETS',
                type: 'Object',
                value: JSON.stringify($scope.targetList),
                valueInfo: {
                    serializationDataFormat: 'application/json',
                    objectTypeName: 'java.lang.String'
                }
       		});

       		var authenticationOnAnyTarget = false
       		for(var item in $scope.targetList){
       			authenticationOnAnyTarget = authenticationOnAnyTarget || $scope.targetList[item]["attributes"]["ZAP_AUTHENTICATION"]
			}
			if (camForm.variableManager.variable('ZAP_AUTHENTICATION') != undefined) {
				camForm.variableManager.destroyVariable('ZAP_AUTHENTICATION');
			}
			camForm.variableManager.createVariable({
				name: 'ZAP_AUTHENTICATION',
				type: 'Boolean',
				value: authenticationOnAnyTarget,
				valueInfo: {}
			});

			var spiderAdvanced = false
       		for(var item in $scope.targetList){
       			spiderAdvanced = spiderAdvanced || ($scope.targetList[item]["attributes"]["ZAP_SPIDER_CONFIGURATION_TYPE"] == 'advanced')
			}
			var spiderConfig = 'default'
			if(spiderAdvanced){
				spiderConfig = 'advanced'
			}
			if (camForm.variableManager.variable('ZAP_SPIDER_CONFIGURATION_TYPE') != undefined) {
				camForm.variableManager.destroyVariable('ZAP_SPIDER_CONFIGURATION_TYPE');
			}
			camForm.variableManager.createVariable({
				name: 'ZAP_SPIDER_CONFIGURATION_TYPE',
				type: 'String',
				value: spiderConfig,
				valueInfo: {}
			});

			var scannerAdvanced = false
       		for(var item in $scope.targetList){
       			scannerAdvanced = spiderAdvanced || ($scope.targetList[item]["attributes"]["ZAP_SCANNER_CONFIGURATION_TYPE"] == 'advanced')
			}
			var scannerConfig = 'default'
			if(scannerAdvanced){
				scannerConfig = 'advanced'
			}
			if (camForm.variableManager.variable('ZAP_SCANNER_CONFIGURATION_TYPE') != undefined) {
				camForm.variableManager.destroyVariable('ZAP_SCANNER_CONFIGURATION_TYPE');
			}
			camForm.variableManager.createVariable({
				name: 'ZAP_SCANNER_CONFIGURATION_TYPE',
				type: 'String',
				value: scannerConfig,
				valueInfo: {}
			});
        });

    </script>
	<div class="row">

		<div class="col-xs-12">
			<h3>OWASP-ZAP Scan Target</h3>

			<div class="form-group">
				<div class="controls form-group" style="background: #dfdfdf" ng-repeat="target in targetList track by $index">
					<div class="row">
						<div class="col-xs-3">
							<label>Target Name</label>
							<input required class="form-control"
								   type="text"
								   placeholder="Public Site Name"
								   ng-minlength="2"
								   ng-maxlength="30"
								   ng-model="target.name"/>
						</div>
						<div class="col-xs-4">
							<label>Target Hosts</label>
							<span>Hostname/ IP-Address</span>
							<input required class="form-control"
								   type="text"
								   placeholder="http://bodgeit:8080/bodgeit"
								   ng-minlength="3"
								   ng-maxlength="100"
								   ng-model="target.location"
								   ng-keydown="checkForEnter($event)"
							/>
						</div>
						<!-- Target Name -->
						<div class="col-xs-4">
							<label>Base Url</label>
							<input required class="form-control"
								   type="text"
								   placeholder="http://bodgeit:8080/bodgeit"
								   ng-model="target.attributes.ZAP_BASE_URL"
								   ng-minlength="2"
								   ng-maxlength="30"/>
						</div>
						<div class="col-xs-1">
							<button class="btn btn-danger btn-lg"
									ng-click="targetList.splice($index, 1)"
									ng-disabled="targetList.length === 1"
									style="position: absolute; right: 15px; top: 0;">
								<span class="glyphicon glyphicon-trash"></span>
							</button>
						</div>
					</div>

					<!--Authentication-->
					<div style="margin-top:10px; margin-bottom:10px">
						<div class="form-check">
							<input id="authentication"
								   ng-model="target.attributes.ZAP_AUTHENTICATION"
								   type="checkbox"
								   name="authentication"
								   class="form-check-input" />
							<label for="authentication" style="white-space:nowrap">Scan with authentication (User Credentails)</label>
						</div>

						<div class="form-check">
							<input class="form-check-input"
								   id="inputFalsePositiveFilter"
								   ng-model="target.attributes.PROCESS_MARK_FALSE_POSITIVE"
								   type="checkbox"
								   name="falsePositiveFilter"/>
							<label for="inputFalsePositiveFilter" style="white-space:nowrap">Enable False Positive Filtering</label>
						</div>
					</div>
					<!-- spider configuration -->
					<div class="form-group">
						<label for="selectSpiderConfigurationType">Type of the spider configuration</label>
						<div class="controls">
							<!--select box -->
							<select required id="selectSpiderConfigurationType"
									class="form-control"
									name="configurationType"
									ng-model="target.attributes.ZAP_SPIDER_CONFIGURATION_TYPE">
								<option value="default" checked>Default</option>
								<option value="advanced">Advanced</option>
							</select>
						</div>
					</div>

					<!-- scanner configuration -->
					<div class="form-group">
						<label for="selectScannerConfigurationType">Type of the scanner configuration</label>
						<div class="controls">
							<!--select box -->
							<select required id="selectScannerConfigurationType"
									class="form-control"
									name="configurationType"
									ng-model="target.attributes.ZAP_SCANNER_CONFIGURATION_TYPE">
								<option value="default" checked>Default</option>
								<option value="advanced">Advanced</option>
							</select>
						</div>
					</div>
					<code class="hidden2">{{ targetList }}</code>
				</div>
				<button class="btn btn-primary" ng-click="addTarget()">Add Host</button>
			</div>

			<!-- Context (Project/Team/System...) -->
			<div class="form-group">
				<label for="inputContext">Business Context (Project/Team/System)</label>
				<div class="controls">
					<input class="form-control"
						   id="inputContext"
						   cam-variable-type="String"
						   cam-variable-name="PROCESS_CONTEXT"
						   type="text"
						   placeholder="Project/Team/System"
						   ng-required="false"
						   ng-maxlength="50"
						   name="context"
						   value="BodgeIT"/>
				</div>
			</div>
		</div>
	</div>
</form>
